html
{

    background: url(../art/backgrounds/background.jpg) no-repeat center center fixed;
    background-color: #cccccc;
	background-size: cover;
	-webkit-background-size: cover;
}

html body
{
    margin: 0%;
    padding: 0%;
    font-family: "Times New Roman", Times, serif;
}

h1
{
    font-size: 30px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 25px;
}

.icon img
{
    background-color: white;
    width:500px;
    height:200px;
    border: 1px solid;

}

/** 
**
Site Nav
**
**/
#site-navbar ul
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-image: radial-gradient(black, black, navy, black, navy);

}

#site-navbar li
{
    margin-left: 25%;
}

#site-navbar li a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;

}
#site-navbar li a:hover, #site-navbar li.selected a
{
    color: darkslategray;
    background: rgba(35, 35, 85, 0.3);
}

/** 
**
Page Nav
**
**/
.page-navbar
{       
    margin-top: -3px;
}

.page-navbar ul
{
    height: 30px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-image: radial-gradient(black, black, navy, black, navy);
    border-radius: 25px;
}
.page-navbar li a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
}
.page-navbar li a:hover
{
    color: darkslategray;
    background: rgba(35, 35, 85, 0.3);
    border-radius: 25px;
}

/**
**
item-list
Bullet points
**
**/
.item-list
{
    width: 45%;
    float: none;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.2px;
}
.item-list li
{
    padding: 15px;
}

/**
**
main-content
Body of page
**
**/
#main-content
{

    width: 80%;
    float: none; 
    margin: 0 auto;
    overflow: hidden;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: navy;
    padding: 5px;
    text-align: center;
    padding: 0%;
    background: rgba(200, 200, 250, 0.9);
}

#main-content p
{
    font-size: 25px;    
    color: black;
}


/**
**
Colored text
**
**/
#colored-text
{
    background-color: #01183d;
    width: 425px;
    height: 225px;
    border-radius: 25px;
    padding: 20px;
    float: none;
    margin: 0 auto;
    overflow: visible;
}
#colored-text p
{
    font-size: 40px;
    display: inline;
}


/**
**
Footer
**
**/
#page-footer
{
    height: 25px;
	clear: both;
	text-align: center;
	font-size: large;
	padding: 0.3em;		
    background-image: radial-gradient(black, black, navy, black, navy);    
}

#page-footer p
{
    color: darkblue;
    margin-top: 4px;
}

/**
**
News Slide Show
**
**/
#news
{
    width: 60%;
    height:200px;
    border: 1px solid;
    float: none;
    margin: 0 auto;
}

/* Slideshow container */
.slideshow-container 
{
    position: relative;
    background: #d0d3ea;
    width: 60%;
    float: none;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid;
    background: rgba(200, 200, 250, 0.8);
}

/* Slides */
.mySlides
{
    
    display: none;            
    padding: 80px;

}
.mySlides h1     
{    
    margin-top: -80px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next 
{ 
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;          
}

.prev
{
    left: 0;  
}        

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container
{
    width: 30%;
    float: none;
    margin: auto;
    text-align: center;
    padding: 20px;
    background: #3462ad;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 25px;
    background: rgba(200, 200, 250, 0.8);
    
}

/* The dots/bullets/indicators */
.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover
{
    background-color: #717171;
}









.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 45s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 45s infinite;
    
  /* Standar Syntax */
  animation: rainbow 45s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Internet Explorer */
@-ms-keyframes rainbow
{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow
{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}