	/*
		Author:				HCLC
		Date:				1/1/2019
	*/

html, body { 
    
    margin: 0; 
    padding: 0;
    height: 100%; 
    width: 100%; 
    background-color: black;
}

p {
    color: black; /* Sets the p text color */
    font-size: 25px; /* sets the p text font size */
}

hr { 
     
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}

#left-pane {
    float: left; /* floats the pane to the left */
    width: 15%; /* sets the width of the pane */
    background-color: #00112d; /* sets the background color of the pane */
    position: fixed; /* sets the position of the pane to fixed */
    height: 100%; /* sets the height of the pane */
    border-right: 5px solid black; /* adds a border to the pane */

}

#right-pane {
    float: right; /* floats the pane to the right */
    width: 85%; /* sets the width of the pane */
    background: url(/art/backgrounds/mainbackground2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;
    padding-right: 4px;
    overflow: inherit;

}

#banner {
    text-align: center; /* centers the text in the banner */
    background: rgba(10, 10, 40, 1.0);
    width: 100%; /* sets the width of the banner */
    margin-top: -25px; /* changes the margin of the banner to make it fit at the top */
    border-radius: 20px; /* sets a border radius for the banner */
    border: 2px solid black; /* sets border for the banner*/
    height: 70px;
    
}

#banner h1 {
    margin-top: 27px; /* sets a margin for the h1 in the banner so it fits better */
    color: white; /* sets the banner text h1 color */
    padding-right: 80px;
}

#banner p{
    float: left;
    color: white;
    margin-top: 25px;
    margin-bottom: 0;
    visibility: hidden;
}


#icon {
    padding-top: 3%; /* positions the icon */
    padding-left: 5%; /* positions the icon */
}

#icon img {
    width: 93%; /* sets the width of the icon */
    display: block; /* sets the display of the icon to block level */
             
}

#content {
    width: 60%; /* sets a width for the content */
    margin-left: 20%; /* sets the margin for the content to get it midscreen */
    text-align: center; /* centers the content text */
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 5px solid;
    border-right: 5px solid;   
    background: url(../art/backgrounds/scrollbackground1.jpg) no-repeat center center fixed;
    background-color: #cccccc;
	background-size: cover;
}

#content p {
    margin-bottom: 5px; /* positions the content p slightly up */
    text-align: center; /* centers the content text */
}

nav {
    text-align: center; /* sets the text to the center in the nav bar */
    margin-top: 15%; /* lowers the nav bar */
    overflow: auto; /* sets the overflow */
    color: white; /* sets the nav intro text color */
}

nav a {
    font-size: 175%; /* sets the nav bar font size */
    display: block; /* sets the display to block level */
    color: lightgray; /* sets the nav bar links text color */
    padding: 8px 16px; /* spaces out the nav bar text */
    text-decoration: none; /* removes the lines from the nav bar text */
}

nav a:hover:not(.active) {
    background-color: #001f54; /* sets the background color of the hover */
    color: white; /* sets the text color of the hover */
}

footer {
    font-size: 20px; /* set the font size for the footer */
    width: 100%; /* sets the width of the footer */
    background: rgba(10, 10, 40, 1.0);
    color: white; /* sets the text color of the footer */
    text-align: center; /* centers the text of the footer */
    border: 2px solid black; /* sets a border for the footer */
}

/********************* General *********************/


.item-list
{
    width: 45%;
    float: none;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.item-list li
{
    padding: 15px;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 45s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 45s infinite;
    
  /* Standar Syntax */
  animation: rainbow 45s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Internet Explorer */
@-ms-keyframes rainbow
{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow
{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

/********************* Leadership *********************/

.right-img
{
    float: right;
    height: 300px;
    padding-right: 1%;
    padding-top: 0%;
}

.right-img img
{
    float: right;
    height: 300px;
    width: 225px;
    border-radius: 25px;
    border: 1px solid black;
    overflow: hidden;
    margin-left: 5px
}

.bio h3, p
{
    text-align: left;
    padding-left: 1%;
    margin-top: 0%;

}

/********************* Services *********************/

#colored-text
{
    background-color: #01183d;
    width: 45%;
    height: 225px;
    border-radius: 25px;
    padding: 20px;
}

/********************* Donate *********************/

#donatebutton input[type=button] {
    width: 50%;
    font-size: 25px;
    background-color: #00112d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

    
#donatebutton input[type=button]:hover {
    background-color: #001f54;
}

/********************* Volunteer *********************/

    
.volunteerform input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;  
}

    
.volunteerform input[type=submit] {
    width: 20%;
    background-color: #00112d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

    
.volunteerform input[type=submit]:hover {
    background-color: #001f54;
}

    
.volunteerform {
    border-radius: 5px;
    padding: 20px;   
}

    
.volunteerform input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px; 
    box-sizing: border-box;
    font-size: 20px;
}

.volunteerform textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px; 
    box-sizing: border-box;
    font-size: 20px;
}

/********************* Home *********************/

.home-img
{
  background-color: #01183d;
    width: 80%;
    border-radius: 35px;
    border: 10px solid #01183d;
}

#img-logo
{
    background-color: #01183d;
    width: 40%;
    height: 200px;
    border-radius: 25px;
    padding: 20px;
}

/**News Slide Show**/
/* Slideshow container */
.slideshow-container 
{
    background: rgba(10, 10, 40, 1.0);
    position: relative;
    width: 100.1%;
    float: none;
    margin: 0 auto;
    border-bottom: 2px solid black;
    max-height: 100px;
    min-height: 100px;
    overflow: auto;
    margin-top: -1px;
}

/* Slides */
.mySlides
{
    display: none;
    text-align: center;
}

.mySlides p
{
    color: white;
    padding-top: 15px;
}

/* Next & previous buttons */
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

/* Position the "next button" to the right */
.next 
{ 
    position: absolute;
    right: 0;
    border-radius: 25px         
}

.prev
{
    left: 0; 
    border-radius: 25px
}        

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container
{
    min-width: 25%;
    width: 12%;
    float: none;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background: rgba(10, 10, 40, 0.97);
    
}

/* The dots/bullets/indicators */
.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover
{
    background-color: black;
}


/**********************Gallery**********************/

.Gallery-img
{
    background-color: #01183d;
    width: 80%;
    border-radius: 20px;
    border: 5px solid #01183d;
}



/********************* History *********************/

#years30 p
{
    font-size: 800%;
    text-align: center;
    margin-top: 0%;
    text-decoration-line: underline;
}



/********************* News *********************/

.posted
{
    font-size: 12px;
    font-weight: bold;
    padding-right: 81%;
}

.headerLine
{
    height: 5px;
    background-color: black;
}

.news-img
{
  background-color: #01183d;
    width: 40%;
    height: 700px;
    border-radius: 35px;
    border: 10px solid #01183d;
}

/********************* responsive navbar *********************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(10, 10, 40, 1.0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 30px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray; /* sets the nav bar links text color */
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #001f54; /* sets the background color of the hover */
    color: white; /* sets the text color of the hover */
    
}

.sidenav a.active {
    background-color: #001f54; /* sets the background color of the active lnk */
    color: white; /* sets the color of the active link */
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px)
{
    .sidenav
    {
        padding-top: 15px;
    }
    .sidenav a 
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px)
{
    .sidenav a 
    {
        font-size: 18px;
    }
}

/********************* Responsive *********************/

@media screen and (max-width: 950px) 
{
    #left-pane
    {
        width: 0%; /* sets the width of the pane */
    }
    
    #right-pane
    {
        width: 100%; /* sets the width of the pane */
        background: url(/art/backgrounds/mainbackground2.jpg) repeat center center;
    }
    
    #content
    {
        width: 80%; /* sets the width of the pane */
        margin-left: 10%; /* sets the margin for the content to get it midscreen */
        background: url(../art/backgrounds/scrollbackground1.jpg) repeat center center;
    }
    
    #banner p
    {
        visibility: visible;
    }
    
    .slideshow-container{     
        max-height: 200px; 
        min-height: 200px;
    }
    
    #content a { 
        font-size: 85%;
    }
}