<nav>  
    <h2>Navigation Menu</h2>
    <a href="index.html" class="indexactive">Home</a>
    <a href="news.html" class="newsactive">News</a>
    <a href="gallery.html" class="galleryactive">Gallery</a>
    <a href="history.html" class="historyactive">History</a>
    <a href="leadership.html" class="leadershipactive">Leadership</a>
    <a href="services.html" class="servicesactive">Services</a>
    <a href="volunteer.html" class="volunteeractive">Volunteer</a>
    <a href="donate.html" class="donateactive">Donate</a>
    <a href="contact.html" class="contactactive">Contact</a>
    <a href="links.html" class="linksactive">Links</a>      
</nav>